@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
	background: rgba(181, 175, 183, 0.60);
}